.padding-top-10 {
    padding-top: 4px;
}

.margin-right-2 {
    margin-right: 15px;
}

.margin-left-1 {
    margin-left: 7px;
}

.margin-left-2 {
    margin-left: 15px;
}

.color-light-grey {
    color: #888888
}

.max {
    background-color: #7760D5;
}

.btn-primary {
    background-color: #7760D5;
    border-color: #7760D5;
    border-width: 1px;
    color: white;
}

.btn-primary:hover {
    background-color: #7760D5;
    border-color: #7760D5;
    border-width: 1px;
    color: white;
}

.btn-secondary {
    background-color: #eee;
    border-color: #eee;
    border-width: 1px;
}

.btn-secondary:hover {
    background-color: #eee;
    border-color: #eee;
    border-width: 1px;
}

.switch-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-check-label {
    padding-left: 0 !important;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
}

.form-control {
    /*background-color: #7760D5;*/
}

.text-area {
    background-color: #fff;
    color: #fff;

}

.custom-select {
    /*background-color: #7760D5;*/
    /*color: #fff;*/
}

.card {
    padding: 0 15px;
}

.card .card-body {
    display: contents;

}

.card .card-body .border-style {
    margin: auto;
    width: 100%
}

.card .card-body .muted {
    font-size: 8px;
}

.card .card-body .text {
    font-size: 11px;
}

.css-chart {
    display: inline-block;
    margin: 5em 15em 1em 5em;
    padding: 0;
    position: relative;
    color: #444;
}

.line-chart {
    list-style: none;
    margin: 0;
    padding: 0;
}

.data-point {
    background-color: #444;
    border: 2px solid #444;
    border-radius: 50%;
    height: 12px;
    position: absolute;
    width: 12px;
    z-index: 1;
}

.line-segment {
    background-color: #444;
    height: 3px;
    position: absolute;
    transform-origin: left bottom;
}

.search {
    padding: 30px;
}

.form {
    position: relative;
}

.nc-zoom-split {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 2;
    font-size: 30px;
    background: #007eff82;
    width: 60px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    height: 61px;
}

.form-group {
    width: 100%;
}

.all-filters {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.input-search {
    height: 70px
}

.first-table, .second-table {
    text-align: left;
}

.main-icon {
    width: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tables {
    display: contents;
}

.tables span {
    display: block;
}

.tables p {
    color: #7760D5;
    display: contents;
}

.head {
    display: table-caption;
    width: max-content;
    margin: 18px 0 10px 10px;
}

.first-table {
    background-color: #fff;
}

.second-table {
    background-color: #fff;
}

.background-color-grey-icon {
    background-color: #f3f1f1;
    border-radius: 8px;
    text-align: center;
    display: block;
    margin: 10px 0 0 10px;
    max-width: fit-content;
}

.background-light-grey {
    background-color: #E6E6E6;
}

.card-sub-header {
    padding: 15px 0 0 15px;
}

.card .card-header {
    padding: 15px 0;
}

.form-footer {
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.cell {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.cell-head {
    text-decoration: underline;
}

.border-radius-half {
    border-radius: 5px;
}

.actions-col {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.button-col {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    left: 15px;
}

.warning-solid-button {
    padding: 5px 10px;
}

.balance-sheet {
    font-size: 12px;
    padding: 9px;
    margin-top: -27px;
}

.header-transactions {
    display: flex;
    flex-direction: column;
    line-height: 2;
}

.dropdown-menu {
    display: contents;
}

.dropdown-button {
    background-color: #fff;
    width: 190px;
}

.dropdown-toggle::after {
    margin-left: 30px
}

.search-filters {
    position: relative;
}

.search-button {
    background: #673ab7;
    color: #fff;
    border: none;
}

.alert button.close {
    color: #090909;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.text-success, .text-success:hover {
    color: #27ae60 !important;
}

.alert-success {
    background-color: #27ae60 !important;
}

.text-bold {
    font-weight: bold;
}

.custom-chart .ct-chart {
    height: auto;
    margin: 0;
    padding: 10px 0;
}

.custom-chart .ct-label {
    font-size: 12px !important;
}

.light-background {
    background: white;
}

.border-bottom {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.border-right {
    padding-right: 15px;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.small-font-size {
    font-size: 12px;
}

.small-font-size p {
    font-size: 14px;
}

.height-half {
    height: 70px;
}

.height-full {
    height: 140px;
}

.blue-grey-color {
    color: #77838F;
}

.text-uppercase {
    text-transform: uppercase;
}

.dropdown-button.filter, .dropdown-button.filter.btn-primary {
    height: 40px;
    background: #ffd60a;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.dropdown-button.filter:focus, .dropdown-button.filter:hover,
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: #f6cd00;
    color: #333;
}

.pointer {
    width: 70px;
    height: 40px;
    position: absolute;
    background: #F1F2F4;
    z-index: 1 !important;
}
.pointer:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #F1F2F4;
    border-top: 20px solid #F1F2F4;
    border-bottom: 20px solid #F1F2F4;
    border-radius: 0 10px 10px 0;
}

.td-text {
    position: relative;
    z-index: 9;
    left: 15px;
}

.shape-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu {
    display: none !important;
}

.dropdown-menu.show {
    flex-direction: column;
    display: flex !important;
}