.main-card .card-summary {
    background-color: #1dc48cf2;
}

.box {
    background-color: #b080df;
    height: 240px;
    width: 100%;
}

.percentage-value {
    border-radius: 5px;
    padding: 5px 7px;
    background-color: #ddd;
    color: #474747;
    font-weight: 600;
    font-size: 15px;
}

.card-summary {
    border-radius: 5px;
}

.summary-balance {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    color: #333;
}

.balance-amount {
    font-size: 30px;
    color: #7c7c7c;
    font-weight: 300;
}

.balance-chart {
    background-image: linear-gradient(#9781ef, #7760d5);
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.text-light-grey {
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

.card .card-header {
    padding: 0;
}

.card-summary h4 {
    margin: 15px;
}

.card-title {
    border-bottom: 1px solid #eee;
}