.main-card{
    border: 14px solid black;
}
.card-summary{
    color: #fff;
}
.main-card .card-summary{
    background-color: #1dc48cf2;
}
.main-card .card-body{
    color: #ffffff9c;
}
.main-card .card-body .card-title{
    color: #ffffff9c;

}
.box{
    background-color: #b080df;
    height: 240px;
    width: 100%;
}
.number{
    border-radius: 4px;
    padding: 3px;
    font-size: 17px;
    background-color: #fff;
    color: black;
    font-weight: 600;
    font-size: 16px;
}
.confirming-text{
    color: #fff;
    font-weight: bold;
}